*{
	box-sizing: border-box;
}

body{
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
	color: #343438;
	font-size: 1em;
	font-family: Microsoft YaHei;
}

ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}

.dib {
	display: inline-block;
}

.df{
	display: flex;
	align-items: center;
}

.f1{
	flex: 1;
}

.w30{
	width: 30px;
}

.w60{
	width: 60px;
}

.w80{
	width: 80px;
}

.w100{
	width: 100px;
}

.w100p{
	width: 100%;
}

.h30{
	height: 30px;
}

.wh2d5em{
	width: 2.5em;
	height: 2.5em;
}

.mt0{
	margin-top: 0;
}

.mt5{
	margin-top: 5px;
}

.ml12{
	margin-left: 12px;
}

.ml20{
	margin-left: 20px;
}

.ml40{
	margin-left: 40px;
}

.mt12{
	margin-top: 12px;
}

.mt100{
	margin-top: 100px;
}

.tl{
	text-align: left;
}
.tc{
	text-align: center;
}
.tr{
	text-align: right;
}

.p20{
	padding: 20px;
}
.pTLR40{
	padding: 40px 40px 0;
}
.btn-box{
	display: inline-block;
	width: 6em;
	height: 40px;
	text-align: center;
	font-size: 1.2em;
	color: #fff;
	background-color: #4CAF50;
	line-height: 40px;
	border: none;
	border-radius: 6px;
	
}

.btn-red{
	background-color: #E91E63 !important;
	color: #fff !important;
	border: 1px solid #E91E63 !important;
}

.btn-green{
	background-color: #8bc34a !important;
	color: #fff !important;
	border: 1px solid #8bc34a !important;
}

.btn-blue{
	background-color: #2196F3 !important;
	color: #fff !important;
	border: 1px solid #2196F3 !important;
}

.btn-gray{
	background-color: #f1f1f1 !important;
	color: #808080 !important;
	border: 1px solid #f1f1f1 !important;
}
