.btn-icon-box{
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 1.2em;
	color: #607D8B;
	background-color: #fff;
	line-height: 40px;
	border-radius: 6px;
	border: 1px solid #9E9E9E;
}

.btn-icon{
	
}

.disable{
	filter: grayscale(80%); 
}


.hidden{
	display: none;
}

.header{
	height: 34px;
}

.header-menu-wrap{
	display: flex;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0.2em;
	text-align: center;
	position: fixed;
    width: 100%;
    background-color: #fff;
	z-index: 30;
}

.header-menu-wrap::after{
	bottom: -5px;
	box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .06);
	content: "";
	height: 5px;
	left: 0px;
	opacity: 1;
	pointer-events: none;
	position: absolute;
	right: 0px;
	width: 100%;
	z-index: 2050;
}

.content{
	padding: 0.2em;
}

.music-count-wrap{
	font-size: 0.8em;
	font-weight: normal;
	padding-right: 10px;
	line-height: 25px;
}

.play-list{
	padding: 0.2em;
}

.play-list .play-category{
	border-bottom: 1px solid #aaa;
	display: block;
	min-height: 4em;
	line-height: 4em;
}
.play-list .play-category:last-child{
	border-bottom: unset;
}

.category-body{
	overflow: hidden;
	background-color: #fff;
	transition: all 0.5s;
}

.play-category .arrow{
	width: 0.8em;
	height: 0.8em;
	display: block;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	transform: rotate(45deg);
	transition: all 0.3s;
}

.play-category .category-header{
	transition: all 0.3s;
}

.play-category.show .arrow{
	border-color: #eee;
	transform: rotate(225deg);
}

.play-category.show .category-body{
	/* display: block; */
}

.play-category.show .category-header{
	background-color: #607d8b;
	color: #eee;
	font-weight: bold;
}

.category-title{
	padding-left:10px;
}

.play-box{
	padding: 10px 20px;
    border-bottom: 1px dotted #666;
    margin-bottom: 0px;
	height: 120px;
	position: relative;
}

.play-box:nth-child(2n+1){
	background-color: #f3faff;
}

.play-box:last-child{
	border: none;
}

.play-box .m-title{
	padding-bottom: 10px;
	line-height: 1.5em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}

.play-box .m-box{
	display: flex;
	height: 56px;
	align-items: center;
}

.play-box .m-box-l{
	height: inherit;
}
.play-box .m-box-c{
	text-align: right;
	flex: 1;
}
.play-box .m-box-r{
	text-align: right;
	flex: 1;
	height: inherit;
}

.m-box .play-btn{
	width: 9em;
	height: 3.5em;
	background-color: #2196F3;
	border-radius: 0.5em;
	color: #fff;
	text-align: center;
    display: block;
	line-height: 3.5em;
	overflow: hidden;
	position: relative;
}

.play-box.playing .m-box .play-btn{
	background-color: #4caf50;
	line-height: 2em;
	padding-top: 6px;
}
.m-box .play-btn .play-btn-time-wrap{
	position: absolute;
	line-height: 1.2em;
	font-size: 1.2em;
	font-family: 'LcdD';
	display: none;
	bottom: 5px;
	width: 100%;
}
.play-box.playing .m-box .play-btn .play-btn-text{
	line-height: 1.4em;
}
.play-box.playing .m-box .play-btn .play-btn-time-wrap{
	display: block;
}


.like-btn{
	width: 3em;
	height: 3em;
	display: inline-block;
	margin-left: 30px;
	background: url(../img/heart.svg) center center no-repeat;
	background-size: 100%;
	filter: grayscale(100%);
	opacity: .4;
}

.like-btn.like{
	filter: grayscale(0%);
	opacity: 1;
}

.used-like{
	width: 3em;
	height: 3em;
	display: inline-block;
	margin-left: 30px;
	background: url(../img/checked.svg) center center no-repeat;
	background-size: 100%;
	filter: grayscale(0);
    opacity: 1;
}

.trash-btn{
	width: 3em;
	height: 3em;
	display: inline-block;
	background: url(../img/trash.svg) center center no-repeat;
	background-size: 100%;
	opacity: .5;
}
/*
.like-count{
	font-size: 2em;
	font-family: -webkit-body;
	display: inline-block;
    padding: 0 0.6em;
}
*/

.m-audio{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.footer{
	width: 100%;
	height: 60px;
}

/*底部菜单*/

.footer-menu-wrap{
	position: fixed;
	width: 100%;
	height: inherit;
	left: 0;
	bottom: 0;
	z-index: 90;
	padding: 0 6px;
	background-color: #ffffff;
}
.footer-menu-wrap>div{
	height: inherit;
}
.footer-menu-wrap::before{
	top: -5px;
	box-shadow: inset 0px -4px 8px -3px rgba(17, 17, 17, .06);
	content: "";
	height: 5px;
	left: 0px;
	opacity: 1;
	pointer-events: none;
	position: absolute;
	right: 0px;
	width: 100%;
	z-index: 2050;
}
.selected-count::before{
	content: "已选择: ";
}

.prev-btn{
	background-color: #03a9f4;
}

.player{
	width: 100%;
	/* display: none; */
}

.is_plaing{
	display: none;
	width: 2em;
	height: 2em;
	background: url(/img/laba.png) no-repeat transparent;
	background-size: 100%;
	vertical-align: middle;
	margin-left: 10px;
	margin-top: -4px;
}

.is_plaing.play{
	display: inline-block;
}


.drag-list .play-box{
	padding: 10px;
	position: relative;
}

.drag-list .play-box .front-wrap{
	width: 100%;
	height: 118px;
	background-color: #607D8B;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
}

.drag-list .play-box:first-child .up-btn,
.drag-list .play-box:last-child .down-btn{
	display: none;
}
.drag-list .play-box:last-child .up-btn{
	margin-right: 57px;
}

.waiting{
	padding: 10px;
}
.waiting::before{
	content: "正在读取...";
}

.order_input{
	width: 100%;
	height: 50px;
	font-size: 1.4em;
	text-align: center;
	border-radius: 6px;
	border: 1px solid #ddd;
}

.make-btn{
	width: 90%;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
}
.main-menu-wrap{
	padding-left: 10px;
	position: relative;
}
.main-menu-box{
	width: 25px;
	height:25px;
	background: url(../img/menu.png) no-repeat center center transparent;
	background-size: 100%;
}
.main-menu-sub{
	display: none;
	position: fixed;
	left: 0;
	top: 33px;
	background-color: #fff;
	padding: 10px 20px;
	font-size: 1.2em;
	font-weight: 100;
	z-index: 50;
	border-radius: 10px;
	box-shadow: 0px 4px 8px #1111110f;
}
.main-menu-wrap.show .main-menu-sub{
	display: block;
}

.main-menu-sub li{
	margin-top: 0.6em;
}
.main-menu-sub li:first-child{
	margin-top: 0;
}

.main-menu-sub .bound-line{
	border-top: 1px solid #999;
	border-bottom: 1px solid #ccc;
}

.btn-trash-like{
	color: #E91E63;
}




/*播放器*/
.player-wrap{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 10;
	display: none;
	align-items: center;
	transition: all .3s;
}
.player-wrap.show,
.player-wrap.mini{
	display: flex;
}
.player-body{
	text-align: center;
	flex: 1;
	padding: 20px;
}
.player-body>div{
	padding: 30px 0 0;
}

.player-body .music-category{
	font-size: 1em;
	font-weight: bold;
}

.player-wrap.mini{
	bottom: 70px;
	left: 20px;
	width: 4em;
	height: 4em;
	border-radius: 50%;
	box-shadow: 2px 2px 4px #666;
	overflow: hidden;
	background-color: rgba(255,255,255,0);
}
.player-wrap.mini .player-body{
	display: none;
}

.player-wrap .player-mini{
	display: none;
	width: inherit;
	height: inherit;
	background: url(../img/play-button.svg) center center no-repeat transparent;
	background-size: 100%;
	opacity: 0;
}
.player-wrap.mini .player-mini{
	display: block;
	opacity: 100;
}

.create-playlist-input{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border: 1px solid #d6d6d6;
	font-size: 1.2em;
	padding: 0 10px;
}

.err-text{
	letter-spacing: 4px;
	font-weight: bold;
}

.new-count{
    width: 23px;
    height: 23px;
    background-color: #4caf50;
    border-radius: 50%;
    display: none;
    line-height: 23px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.new-count.show{
	display: inline-block;
}

.new-music{
	position: absolute;
    right: 24px;
    top: 10px;
    height: 20px;
    width: 40px;
    background-color: #4CAF50;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
	display: none;
}
.new-music::after{
	content: '新';
}
.new-music.show{
	display: block;
}